@media(max-width: 1200px) {
    header .nav-title {
        position: fixed;
        top: 0;
        left: 8px;
    }

    header .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }

    header .nav-btn label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 9px;
        cursor: pointer;
    }

    header .nav-btn label span {
        display: block;
        width: 25px;
        height: 2px;
        background-color: #eee;
        margin: 6px 0;
        transition: 0.3s;
    }

    header .nav-links {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #333;
        height: 0;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0;
    }

    header .nav-links a {
        display: block;
        width: 100%;
    }

    header #nav-check:checked~.nav-btn label span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    header #nav-check:checked~.nav-btn label span:nth-child(2) {
        opacity: 0;
    }

    header #nav-check:checked~.nav-btn label span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    header #nav-check:not(:checked)~.nav-links {
        height: 0;
    }

    header #nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
        text-align: center;
    }

    header #nav-check:not(:checked)~.contact-btn {
        display: none;
    }

    header #nav-check:checked~.contact-btn {
        display: block;
        position: fixed;
        bottom: 30px;
        left: 15%;
        width: 70%;
        text-align: center;
        justify-content: center;
    }

    h1 {
        font-size: 1rem;
        margin: 30px;
        padding: 10px;
    }

}

@media screen and (max-width: 600px){
    .goal-container {
        margin-top: 15px;
    }
}