@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
}


header {
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    z-index: 1000;
    background-color: #000000;
}

header .nav-header,
header .nav-links {
    display: inline;
}

header .nav-title {
    display: inline-block;
    font-size: 22px;
    color: whitesmoke;
    padding: 10px;
    text-transform: uppercase;
}

header .nav-btn {
    display: none;
}


header .nav-links a {
    display: inline-block;
    padding: 13px 10px;
    text-decoration: none;
    color: whitesmoke;
    transition: transform 0.3s ease-in-out;
}

header .nav-links a:hover {
    color: #0088a9;
    transform: scale(1.2) rotate(2deg);
}

header #nav-check,
header .contact-btn {
    display: none;
}


header .contact-btn {
    display: inline-block;
    padding: 9px 25px;
    background-color: #0088a9;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid black;
    transition: transform 0.5s ease-in-out;
}

header .contact-btn:hover {
    opacity: 0.8;
    box-shadow: 2px 2px;
    transform: scale(0.9) rotate(-2deg);
}

main {
    position: relative;
    display: flex;
    justify-content: center;
}

.sec-1 {
    background: url("./assets/wave.svg");
    position: absolute;
    width: 100%;
    height: 500px;
    top: 50px;
    background-size: cover;
    background-position: center;
}


h1 {
    position: relative;
    font-family: "Space Grotesk", sans-serif;
    font-family: "Montserrat";
    margin: 50px;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

.name-container, .goal-container {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.first-child, .second-child, .third-child {
    position: relative;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    padding:4px;
    text-align: center;
    top: 0;
    left: 0;
}


.first-child {
    position: absolute;
    z-index: 1;
    left: -3px;
    top: -2px;
    opacity: 0.5;
    border: 0.5px solid black;
}

.second-child {
    position: absolute;
    z-index: 2;
    left: -2px;
    top: -3px;
    opacity: 0.8;
}

.third-child {
    position: relative;
    z-index: 3;
}

.name-container:hover {
    transform: rotate(2deg);
}

.goal-container:hover {
    transform: rotate(-2deg);
}

.sec-2 {
    margin-top: 30px;
}

.sec-2, a {
    text-decoration: none;
    color: #000000;
}

h2 {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
}
.project-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.working-project-grid {
    background: white;
    border-radius: 5px;
    border: 1px solid rgb(63, 63, 63);
    box-shadow: 5px 5px rgba(42, 42, 42, 0.1);
    text-align: left;
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: column  ;
}


.working-project-grid-header {
    display: flex;
    align-items: center;
}

.window-controls {
    display: flex;
    gap: 0.4rem;
    padding: 5px;
}

.red-dot, .yellow-dot, .green-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.red-dot {
    background-color: #ff5f57;
}

.yellow-dot {
    background-color: #ffbd2e;
}

.green-dot {
    background-color: #28c840;
}

.line {
    width: 100%;
    border: 1px solid black;
}

.short-Description {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.short-Description {
    margin-top: 2px;
}

.desc {
    font-size: 0.6rem;
}

.tech-stack {
    display: flex;
    font-size: 0.8rem;
}
.circle {
    margin-top: 25px;
    width: 8px;
    height: 8px;
    background-color: #0088a9;
    border-radius: 50%;
    gap: 10px;
}

.tech-stack-name {
    margin-top: 20px;
    padding-left: 5px;
}

.work {
    position: absolute;
    font-size: 0.5rem;
    font-weight: 600;
    border: 1px dashed black;
    background-color: #ffbd2e;
    width: 60px;
    height: 15px;
    padding-top: 2px;
    text-align: center;
    right: 10px;
    bottom: 10px;
}

article {
    transition: transform 0.5s ease-out;
}

article:hover {
    transform: scale(0.9) rotate(2deg);
}

.project-name:hover {
    color: rgb(82, 82, 208);
    text-decoration: underline;
}


.socials-links {
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-1 {
    width: 25px;
}
.icon-2 {
    width: 20px;
}
.icon-3 {
    width: 22px;
}

.github-icon, .twitter-icon, .linked-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.8s ease-in-out;
}

.github-icon:hover,
.twitter-icon:hover,
.linked-icon:hover {
    background-color: #ffffff;
    transform: scale(0.8);
    opacity: 0.8;
}










