@media(max-width: 1221px) {
    header .nav-title {
        position: fixed;
        top: 0;
        left: 8px;
    }

    header .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }

    header .nav-btn label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 9px;
        cursor: pointer;
    }

    header .nav-btn label span {
        display: block;
        width: 25px;
        height: 2px;
        background-color: #eee;
        margin: 6px 0;
        transition: 0.3s;
    }

    header .nav-links {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #333;
        height: 0;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0;
    }

    header .nav-links a {
        display: block;
        width: 100%;
    }

    header #nav-check:checked~.nav-btn label span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    header #nav-check:checked~.nav-btn label span:nth-child(2) {
        opacity: 0;
    }

    header #nav-check:checked~.nav-btn label span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    header #nav-check:not(:checked)~.nav-links {
        height: 0;
    }

    header #nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
        text-align: center;
    }

    header #nav-check:not(:checked)~.contact-btn {
        display: none;
    }

    header #nav-check:checked~.contact-btn {
        display: block;
        position: fixed;
        bottom: 30px;
        left: 15%;
        width: 70%;
        text-align: center;
        justify-content: center;
    }

    .sec-1-h1 {
        font-size: 1rem;
        margin: 30px;
        padding: 10px;
    }
    

    /* about section media query */
        /* about section media query */
    .about-me-sec {
        top: 700px;
        width: 100%;
        /* padding: 20px; */
        height: 400px;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .about-me-div {
        margin: 20px;
        padding: 5px;
        height: 400px;
        display: flex;
        justify-content: space-between;
        /* flex-direction: column-reverse; */
        position: relative;
        gap: 2rem;
    }

    .self-image {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .about-me-div-child-1 {
        padding: 0;
        padding-left: 5px;
        width: 100%;
    }

    .about-me-div-child-2 {
        width: 80%;
    }

    
    
    .self-image-circular-1, .self-image-circular-2, .self-image-circular-3 {
        position: absolute;
        width: 156px;
        height: 156px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 0.5px solid black; 
        right: 50px;
        top: 10px;
        padding-top: 30px; 
        
    }
    
    .written-content {
        position: relative;
        top: 52px;
        right: 95px;
    }

    .image-size-1 {
        width: 250px;
    }

    .self-image-circular-1 {
        position: relative;
        background: url("assets/gray-scale-photo.jpg");
        background-position: center;
        background-size: 130px;
        background-repeat: no-repeat;
        left: 120px;
        top: 5px;
        border: 2px solid black;
        z-index: 3;
        background-color: #1d1d1d;
        box-shadow: 10px 10px 10px #212121;
    }
    .self-image-circular-2 {
        left: 126px;
        top: 5px;
        z-index: -2;
    }
    
    .self-image-circular-3 {
        z-index: -1;
        top: 5px;
        left: 123px;
    }
    

    .resume-btn {
        margin-top: 30px;
    }
    
    .about-me-p-1, .about-me-p-2 {
        font-size: 0.8rem;
    }
    
    .about-my-section {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        height: auto;
        justify-content: center;
        margin: 0;
        padding: 30px;
        width: 100%;
        top: 310px;
    }
    .Project-sec {
        top: 1260px;
    }

    .leetcode-container {
        height: 390px;
        width: 880px;
    }

    h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 600px){
    h2 {
        font-size: 1.2rem;
    }
    .goal-container {
        margin-top: 15px;
    }

        /* about section media query */
    .about-me-sec {
        top: 850px;
        width: 100%;
        /* padding: 20px; */
        display: flex;
        position: relative;
    }

    .about-me-div {
        margin: 20px;
        margin-bottom: 0px;
        padding: 5px;
        height: 600px;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        position: relative;
        gap: 2rem;
    }

    .self-image {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .about-me-div-child-1 {
        padding: 0;
        padding-left: 5px;
        width: 100%;
    }

    .about-me-div-child-2 {
        width: 80%;
    }
    
    .self-image-circular-1, .self-image-circular-2, .self-image-circular-3 {
        position: absolute;
        width: 156px;
        height: 156px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 0.5px solid black; 
        /* right: 50px; */
        top: 10px;
        padding-top: 30px; 
        
    }
    
    .written-content {
        position: relative;
        top: 50px;
        left: 0;
    }

    .image-size-1 {
        width: 280px;
    }

    .self-image-circular-1 {
        position: relative;
        background: url("assets/gray-scale-photo.jpg");
        background-position: center;
        background-size: 130px;
        background-repeat: no-repeat;
        left: 200px;
        top: 25px;
        border: 2px solid black;
        z-index: 3;
        background-color: #1d1d1d;
        box-shadow: 10px 10px 10px #212121;
    }
    .self-image-circular-2 {
        left: 206px;
        top: 25px;
        z-index: -2;
    }
    
    .self-image-circular-3 {
        z-index: -1;
        top: 25px;
        left: 204px;
    }
    

    .resume-btn {
        margin-top: 30px;
    }
    
    .about-me-p-1, .about-me-p-2 {
        font-size: 0.8rem;
    }
    
    .about-my-section {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        height: auto;
        margin: 0px;
        padding: 30px;
        top: 500px;
    }


    .Project-sec {
        position: absolute;
        width: 100%;
        height: 840px;
        top: 1700px;
        background-color: #fff;
        font-family: "Space Grotesk", sans-serif;
    }


    .Project-sec-article {
        padding: 15px;
        height: 100%;
        font-size: 1.2rem;
    }

    .Project-sec-article-first-para {
        font-size: 0.8rem;
        margin-top: 20px;
    }


    .link {
        text-decoration: underline;
    }


    /* .leetcode-link {
        margin-top: 20px;
    }

    .leetcode-container {
        height: 250px;
    }

    .leetcode-container::before {
        background-size: 200% 100%;
    } */

    #last-section {
        top: 2250px;
    }

    .svg-file {
        max-height: 320px;
    }

    .about-page {
        top: 315px;
        width: 100%;
        padding: 0;
        height: 100vh;
    }

    .container-2 {
        flex-direction: column-reverse;
        /* justify-content: flex-start; */
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        gap: 2rem;
        padding-top: 20px;
    }

    .tech-stack-last {
        margin: 0;
    }

    .tech-stack-last canvas {
        width: 350px;
    }
}


@media screen and (min-width: 600px) and (max-width: 1230px) {

    .about-page {
        padding: 20px;
        padding-top: 80px;
        padding-bottom: 40px;
    }

    #last-section {
        top: 2080px;
    }

    
    .container-2 {
        /* flex-direction: column-reverse; */
        /* bottom: 20px; */
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        gap: 2rem;
        padding-top: 20px;
    }
    
    .heading-contact {
        font-size: 3rem;
        text-align: center;
        padding-bottom: 20px;
    }
    
    
    
    .contact-form {
        width: 80%;               
        max-width: 400px;         
        margin: 0;          
        padding: 0;      
    }
    
    .contact-form input,
    .contact-form textarea {
        width: 100%;
        font-size: 1rem;
        padding: 15px;
        margin-bottom: 15px;
    }
    
    .contact-form button {
        width: 50%;
        padding: 10px;
        font-size: 1rem;
    }
    
    .tech-stack-last {
        margin: 0;
    }
    
    .tech-stack-last canvas {
        width: 90%;
    }
    
    
    .Project-sec-article {
        padding: 40px 40px;
        gap: 5px;
    }

    .leetcode-image {
        width: 600px;
        height: 400px; 
    }

    .leetcode-container {
        width: 650px;
        height:450px; 
    }
}


@media screen and (max-width: 600px) {
    
    .container-2 {
        gap: 0;
        padding-top: 0px;
    }

    .written-content {
        right: 240px;
    }
    .image-size-1 {
        width: 220px;
    }
    
    .self-image-circular-1 {
        left: 160px;
    }
    .self-image-circular-2 {
        left: 163px;
    }
    .self-image-circular-3 {
        left: 166px;
    }

    
    .heading-contact {
        font-size: 3rem;
        padding-bottom: 5px;
    }

    .contact-form {
        max-width: 500px;
        width: 100%;
        padding: 10px;
    }

    .tech-stack-last {
        margin: 0;
    }
    
    .tech-stack-last canvas {
        width: 95%;
    }
    
    .Project-sec-article {
        gap: 5px;
    }
    .leetcode-container {
        /* height: 105%; */
        width: auto;
        height: 100%;
    }

    
}