@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
    user-select: none;
}


header {
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    z-index: 1000;
    background-color: #000000;
}

header .nav-header,
header .nav-links {
    display: inline;
}

header .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}

header .nav-btn {
    display: none;
}


header .nav-links a {
    display: inline-block;
    padding: 13px 10px;
    text-decoration: none;
    color: whitesmoke;
    transition: transform 0.3s ease-in-out;
}

header .nav-links a:hover {
    color: #0088a9;
    transform: scale(1.2) rotate(2deg);
}

header #nav-check,
header .contact-btn {
    display: none;
}


header .contact-btn {
    display: inline-block;
    padding: 9px 25px;
    background-color: #0088a9;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid black;
    transition: transform 0.5s ease-in-out;
}

header .contact-btn:hover {
    opacity: 0.8;
    box-shadow: 2px 2px;
    transform: scale(0.9) rotate(-2deg);
}

main {
    position: relative;
    display: flex;
    justify-content: center;
}

.sec-1 {
    background: url("../assets/wave.svg");
    position: absolute;
    width: 100%;
    height: 600px;
    top: 50px;
    background-size: cover;
    background-position: center;
}


.sec-1-h1 {
    position: relative;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

.name-container, .goal-container {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.first-child, .second-child, .third-child {
    position: relative;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    padding:4px;
    text-align: center;
    top: 0;
    left: 0;
}


.first-child {
    position: absolute;
    z-index: 1;
    left: -3px;
    top: -2px;
    opacity: 0.5;
    border: 0.5px solid black;
}

.second-child {
    position: absolute;
    z-index: 2;
    left: -2px;
    top: -3px;
    opacity: 0.8;
}

.third-child {
    position: relative;
    z-index: 3;
}

.name-container:hover {
    transform: rotate(2deg);
}

.goal-container:hover {
    transform: rotate(-2deg);
}

.sec-2 {
    margin-top: 30px;
}

.sec-2, a {
    text-decoration: none;
    color: #000000;
}

h2 {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
}
.project-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.working-project-grid {
    background: white;
    border-radius: 5px;
    border: 1px solid rgb(63, 63, 63);
    box-shadow: 5px 5px rgba(42, 42, 42, 0.1);
    text-align: left;
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: column  ;
}


.working-project-grid-header {
    display: flex;
    align-items: center;
}

.window-controls {
    display: flex;
    gap: 0.4rem;
    padding: 5px;
}

.red-dot, .yellow-dot, .green-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.red-dot {
    background-color: #ff5f57;
}

.yellow-dot {
    background-color: #ffbd2e;
}

.green-dot {
    background-color: #28c840;
}

.line {
    width: 100%;
    border: 1px solid black;
}

.short-Description {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.short-Description {
    margin-top: 2px;
}

.desc {
    font-size: 0.6rem;
}

.tech-stack {
    display: flex;
    font-size: 0.8rem;
}
.circle {
    margin-top: 25px;
    width: 8px;
    height: 8px;
    background-color: #0088a9;
    border-radius: 50%;
    gap: 10px;
}

.tech-stack-name {
    margin-top: 20px;
    padding-left: 5px;
}

.work {
    position: absolute;
    font-size: 0.5rem;
    font-weight: 600;
    border: 1px dashed black;
    background-color: #ffbd2e;
    width: 60px;
    height: 15px;
    padding-top: 2px;
    text-align: center;
    right: 10px;
    bottom: 10px;
}

.sec-2-article {
    transition: transform 0.5s ease-out;
}

.sec-2-article:hover {
    transform: scale(0.9) rotate(2deg);
}

.project-name:hover {
    color: rgb(82, 82, 208);
    text-decoration: underline;
}


.socials-links {
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-1 {
    width: 25px;
}
.icon-2 {
    width: 20px;
}
.icon-3 {
    width: 22px;
}

.github-icon, .twitter-icon, .linked-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.8s ease-in-out;
}

.github-icon:hover,
.twitter-icon:hover,
.linked-icon:hover {
    background-color: #ffffff;
    transform: scale(0.8);
    opacity: 0.8;
}

.about-me-sec {
    font-size: 1.2rem;
    width: 100%;
    font-family: "Space Grotesk", sans-serif;
    position: absolute;
    height: 700px;
    top: 450px;
    /* background-color: #ffae00; */
    
}

.about-me-div {
    margin: 160px;
    padding: 50px;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.about-me-div-child-1 {
    width: 700px;
    height: auto;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 0.5em;
}

.about-me-p-1, .about-me-p-2 {
    font-size: 1rem;
}


.resume-btn {
    margin-top: 40px;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.span-1, .span-2, .span-3 {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: #000000;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #ffbd2e;
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    width: 160px;
    font-size: 300;
}

.span-1 {
    position: absolute;
    z-index: 1;
    left: 6px;
    top: 6px;
    opacity: 0.4;
}

.span-2 {
    position: absolute;
    z-index: 2;
    left: 3px;
    top: 3px;
    opacity: 0.6;
}

.span-3 {
    position: relative;
    z-index: 3;
}

.resume-btn {
    transition: transform 1s ease-out;
}

.resume-btn:hover {
    transform: scale(0.9) rotate(-4deg);
}

.btn-div:hover {
    background-color: #f8db9c;
    text-decoration: underline;
}

.about-me-div-child-2 {
    width: 500px;
    height: auto;
    display: flex;
     
}

.images-div {
    position: relative;
}

.written-content {
    position: absolute;
    right: 250px;
    top: 50px;
}
.image-size-1 {
    width: 180px;
}

.self-image {
    position: relative;
    width: 500px;
    /* box-sizing: border-box;
    border: 1px dashed rgb(166, 181, 29); */
    height: 100%;
    /* background-color: #a23232; */
    transition: all 0.3s ease-in;
}

/* .self-image-box-1, .self-image-box-2, .self-image-box-3 {
    position: absolute;
    width: 256px;
    height: 256px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid black; 
    right: 20px;
    top: 40px;
    padding-top: 30px; 
}

.self-image-box-1 {
    right: 14px;
    top: 50px;
    z-index: -1;
    background-color: #0088a9;
}
.self-image-box-2 {
    right: 8px;
    top: 60px;
    z-index: -2;
    background-color: #28c840;
}

.self-image-box-3 {
    position: relative;
    left: 220px;
    background-color: #fff;
    z-index: 3;
}

.circ-div {
    position: absolute;
    display: flex;
    gap: 1rem;
    top: 10px;
    left: 8px;
}

.cir-div-1 {
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 12px;
} */


.self-image-circular-1, .self-image-circular-2, .self-image-circular-3 {
    position: absolute;
    width: 256px;
    height: 256px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 0.5px solid black; 
    right: 50px;
    top: 40px;
    padding-top: 30px; 
    
}

.self-image-circular-1 {
    position: relative;
    background: url("../assets/output-onlinepngtools.png");
    background-position: center;
    background-size: 260px;
    background-repeat: no-repeat;
    left: 200px;
    border: 2px solid black;
    z-index: 3;
    box-shadow: 10px 10px 10px #000000;
}
.self-image-circular-2 {
    right: 40px;
    z-index: -2;
}

.self-image-circular-3 {
    z-index: -1;
    right: 40px;
}

.self-image:hover {
    transform: rotateY(1deg);
}
